body , *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.admin-container{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
    /* border: 1px solid red; */
    margin: 35px auto;
}


.admin-container > div{
    /* border: 2px solid green; */
    border-radius: 7px;
}

.admin-container > div:nth-child(1){
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    line-height: 50px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    background-color: rgba(168, 195, 222, 0.15);
}

.admin-container a{
    text-decoration: none;
}

.admin-container a:hover{
    color: gray;
}



#admindashcontainer > div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    text-align: center;
}

#admindashcontainer > div:nth-child(1) > div {
    background-color: rgb(10, 116, 236);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
}

#admindashcontainer > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    text-align: center;
    margin: 50px auto;
}


#admindashcontainer > div:nth-child(2) > div {
    background-color: rgb(22, 23, 24);
    height: 300px;
    color: white;
}







@media only screen and (min-width:750px) and (max-width:1000px){

    .admin-container{
        grid-template-columns: 1fr;
        
    }


}




@media only screen and (max-width:750px){



}

