<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- <link rel="stylesheet" href="../styles/navbar.css"> -->
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            /* background-color: #333; */
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #666;
            margin-top: 30px;
        }

        p {
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .developer-info {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .developer-info img {
            width: 100px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .developer-info .info {
            flex: 1;
        }
    </style>

    
    <!-- Google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Google fonts -->

    <!-- font awesome icon library -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- font awesome icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/navbar.css">

</head>

<body>

    <div class="shop-nav-header">

        <div class="shop-city-logo">

            <a href="../index.html"><img src="../shopcity.png" alt=""></a>

        </div>

        <div class="shopcity-nav-search">

            <form>

                <input type="text" placeholder="Search Here">

            </form>

        </div>

        <div class="shop-nav-icons">


            <!-- /* drop down */ -->

            <div class="dropdown" id="dropdownForProfile">
                <!-- <button class="dropbtn">Dropdown</button> -->
                <a href="#" class="fa fa-user-circle-o dropbtn"></a>
                <div class="dropdown-content">
                    <p id="ShowUserName">Name</p>
                    <a href="#">Profile</a>
                    <a href="#">Dashboard</a>
                    <a href="#" id="logedOutBtn">Logout</a>
                </div>
            </div>





            <a href="./cart.html" class="fa fa-shopping-cart"><sup></sup></a>
            <a href="./order.html" class="fa fa-truck"></a>
            <a href="#" class="fa fa-bars"></a>
        </div>

    </div>


    <div class="shop-city-links">

        <a href="../index.html">Home</a>
        <a href="./products.html">Store</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="./user.login.html" id="LogedInBtn">Login</a>

    </div>

    <header>
        <h1>About Us</h1>
    </header>

    <div class="container">
        <h2>Welcome to My E-commerce Website!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat metus sed lectus auctor, nec
            ultrices ligula varius. Phasellus sit amet nibh eu augue euismod pulvinar. Ut efficitur rutrum turpis, at
            laoreet metus laoreet ac. Nulla id sem felis. Mauris non tortor nisl. Sed vestibulum massa sit amet velit
            commodo, non fringilla sapien congue. Curabitur consequat rutrum neque, eu feugiat neque ullamcorper nec.
            Sed ac libero fermentum, scelerisque nunc nec, posuere neque.</p>

        <h2>Developer Information</h2>

        <div class="developer-info">
            <img src="developer.jpg" alt="Developer">
            <div class="info">
                <h3>Your Name</h3>
                <p>Full Stack Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat metus sed lectus auctor, nec
                    ultrices ligula varius.</p>
                <p>Technologies Used: HTML, CSS, JavaScript, Node.js, Express.js, MongoDB, Mongoose, JWT, Bcrypt</p>
            </div>
        </div>

        <h2>Project Overview</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat metus sed lectus auctor, nec
            ultrices ligula varius. Phasellus sit amet nibh eu augue euismod pulvinar. Ut efficitur rutrum turpis, at
            laoreet metus laoreet ac. Nulla id sem felis. Mauris non tortor nisl. Sed vestibulum massa sit amet velit
            commodo, non fringilla sapien congue. Curabitur consequat rutrum neque, eu feugiat neque ullamcorper nec.
            Sed ac libero fermentum, scelerisque nunc nec, posuere neque.</p>
    </div>


    <footer class="shop-footer">
        <div class="shop-city-container">
            <div class="shop-row">
                <div class="shop-footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="shop-footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Order Status</a></li>
                    </ul>
                </div>
                <div class="shop-footer-col">
                    <h4>Online Shop</h4>
                    <ul>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Kids</a></li>
                    </ul>
                </div>
                <div class="shop-footer-col">
                    <h4>Follow us</h4>
                    <div class="shop-social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>


<script src="../scripts/index.js"></script>

<script src="../scripts/navbar.js"></script>