
.ordersection{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    margin: auto;
}

#serchyourorder{
    height: 25px;
    /* width: 400px; */
    border: none;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px;
}




#allOrdersHere{
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    line-height: 30px;
}

#allOrdersHere > div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px 0px ;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#allOrdersHere img{
    width: 100%;
    margin: auto;
}


.cancelbtn{
    border: none;
    cursor: pointer;
    background-color: rgb(42, 40, 40);
    color: white;
    border: none;
    outline: none;
    
    padding: 5px 12px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 150px;
}
.cancelbtn:hover{
    background-color:rgb(0, 0, 0);
}


@media screen and (max-width:850px) {
    #allOrdersHere{
        width: 90%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        line-height: 30px;
    }
}