
.ordersection{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
}



.ordersection > div{

    text-align: center;
    width: 100%;
    font-size: 21px;
    letter-spacing: 1px;
}

.ordersection > div > h3:hover{
    letter-spacing: 2px;
    color: aquamarine;
    cursor:pointer;
}



#allOrdersHere{
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    line-height: 30px;
}

#allOrdersHere > div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px 0px ;
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#allOrdersHere > div > div:nth-child(2){
    /* border: 1px solid red; */
    margin-left: 20px;
}

#allOrdersHere img{
    width: 100%;
    margin: auto;
}


.cancelbtn{
    border: none;
    cursor: pointer;
    background-color: red;

    color: white;
    border: none;
    outline: none;
    
    padding: 5px 12px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 140px;
}
.cancelbtn:hover{
    transition: 1s;
    background: transparent;
    color: red;
    /* font-weight: bold; */
    border: 1px solid;
}


@media screen and (max-width:850px) {
    #allOrdersHere{
        width: 90%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        line-height: 30px;
    }
}