
body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.register-form{
    width: 35%;
    margin: 50px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    padding: 20px 0px 0px 0px;
}

.register-form input, #registerFormSubmitBtn, #new_user_gen{
    width: 70%;
    height: 30px;
    margin: 10px auto;
    padding-left: 10px;
    border: none;
    outline: none;
    /* border-bottom: 2px solid black; */
    border-bottom: 1px solid #666;
    /* border-top: 1px solid #333; */
    border-radius: 6px; 
    text-align: center;
}

.register-form input:nth-child(1){
    margin-top: 30px;
}

.register-form input:nth-child(8), #registerFormSubmitBtn{
    background-color: rgb(24, 22, 22);
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
.register-form input:nth-child(8):hover, #registerFormSubmitBtn:hover{
    color: white;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
}

@media screen and (max-width:1000px) and (min-width:750px) {
    .register-form{
        width: 60%;
        margin: 10vh auto;
    }
    .register-form input, #registerFormSubmitBtn, #new_user_gen{
        width: 60%;
    }
    
}

@media screen and (max-width:850px) {
    .register-form{
        width: 80%;
        /* margin: 10vh auto; */
    }
    .register-form input, #registerFormSubmitBtn, #new_user_gen{
        width: 80%;
    }
}