* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.niteshfiltersection {
    margin: 50px auto;
    width: 80%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(230, 229, 229);
    padding: 10px;
}

.niteshfiltersection>div {
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.niteshfiltersection>div:nth-child(1)>input {
    border: none;
    outline: none;
    border-radius: 5px;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    text-align: center;
    width: 50%;
    font-size: 15px;
}



#Niteshcategoryselect {
    font-size: 15px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    text-align: center;
    width: 50%;
}

#NiteshsortbyPrice {
    font-size: 15px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    text-align: center;
    width: 50%;
}






#Niteshproductscontainer {
    border-radius: 10px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


.myproductcontainer {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.myproductcontainer:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mySeedetailbutton {
    background-color: brown;
    border: none;
    width: 150px;
    height: 25px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.myproductimage>img {
    width: 100%;
}
.myproductimage>img:hover{
    border-radius: 10px;
    transform: scale(1.25);
    transition: transform 1.3s ease;
}

.myproductdetails {
    text-align: justify;
}

.mydivbutton {
    text-align: center;
    /* margin-top: 15px; */
    line-height: 10px;
    letter-spacing: 1px;
}


#pagination-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 50px auto;

}

.pagination-button {
    border: none;
    font-size: 20px;
    color: white;
    width: 50px;
    background-color: brown;
    cursor: pointer;
    border-radius: 2px;
}

.pagination-button:hover {
    background-color: rgb(184, 62, 62);
}





@media screen and (max-width:1050px) and (min-width:750px) {

    .niteshfiltersection {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    .niteshfiltersection>div {
        justify-content: space-between;
        align-items: center;
        margin: 5px;
    }

    .niteshfiltersection p{
        font-size: 15px;
        width: 40%;
        text-align: start;

    }

    .niteshfiltersection>div:nth-child(1)>input {
        width: 70%;
    }

    #Niteshcategoryselect {
        width: 70%;
    }

    #NiteshsortbyPrice {
        width: 70%;
    }





    #Niteshproductscontainer {
        grid-template-columns: repeat(3, 1fr);
    }

}






@media screen and (max-width:750px){

    .niteshfiltersection {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    .niteshfiltersection>div {
        justify-content: space-between;
        align-items: center;
        margin: 5px;
    }
    .niteshfiltersection p{
        font-size: 12px;
        width: 40%;
        text-align: start;

    }

    .niteshfiltersection>div:nth-child(1)>input {
        width: 50%;
        font-size: 12px;
    }
    

    #Niteshcategoryselect {
        width: 50%;
        font-size: 12px;
    }

    #NiteshsortbyPrice {
        width: 50%;
        font-size: 12px;
    }



    .myproductdetails {
        text-align: center;
    }

    #Niteshproductscontainer {
        grid-template-columns: repeat(1, 1fr);
    }


}